* {
    box-sizing: border-box;
}



.mainContainer {
  background-image: url(./sl_121019_25870_69.png);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  border: 5px solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subContainer {
    border: 10px solid pink;
    height: 95%;
    width: 95%;
}

.top-half{
    border: 4px solid greenyellow;
    height:20%;
    width: 100%;
   
}

.test {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    border: 3px solid coral;
    color: aliceblue;
}

.categories {
    height: auto;
    width: fit-content;
    border: 3px solid rgb(22, 109, 49);
    display: flex;
    justify-content: end;
    align-items: end;
}

.message {
    border: 3px solid rgb(228, 71, 97);
    color: aliceblue;
}

.middle {
    border: 4px solid rgb(0, 187, 255);
    height: 50%;
    width: 100%;
}

.letters {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border: 4px solid rgb(178, 99, 192);
    height: 30%;
    width: 100%;
}

.top-row {
    display: inline-flex;
    border: 1px solid white;
    height: 33%;
    width: 90%;
    align-items: center;
    justify-content: space-around;
    margin: 1px;
    color: aqua;
}


.middle-row {
    display: inline-flex;
    border: 1px solid white;
    height: 33%;
    width: 90%;
    align-items: center;
    justify-content: space-around;
    margin: 1px;
    color: aqua;
}

.bottom-row {
    display: inline-flex;
    border: 1px solid white;
    height: 33%;
    width: 90%;
    align-items: center;
    justify-content: space-around;
    margin: 1px;
    color: aqua;
}